<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #003366;
        color: #66CCFF;
      }

      header {
        background-color: #1E3799;
        color: #66CCFF;
      }

      section {
        background-color: #1ABC9C;
        color: #003366;
      }

      footer {
        background-color: #1E3799;
        color: #66CCFF;
      }
    </style>
  </head>
  <body>
    <header>
      <div>
        <img src="" alt="logo" />
        <nav>
          <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="../components/discussion.html">Discussion</a></li>
            <li><a href="">Courses</a></li>
          </ul>
          <ul>
            <a href="./scr/components/signin.html"><button>Sign in</button></a>
            <a href="#"> <img src="" alt="user logo" /> </a>
          </ul>
        </nav>
      </div>
    </header>
    <section>
      <div>
        <img src="" alt="profile pic">
        <h2>Harsh Dhiman</h2>
      </div>
      <div>
        <img src="" alt="home">
        <h2>Home</h2>
        <div>
          <h2>Discussion</h2>
          <h2>Community</h2>
          <div>
            <h2>Courses</h2>
            <h2>Self Paced</h2>
            <h2>Live</h2>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h1>Live Courses</h1>
      <div>
        <img src="" alt="heart" />
        <div>
          <h3>Data Structures and Algorithms to Development</h3>
          <h4>Self Paced</h4>
          <h3>&#8377;1200.00</h3>
          <img src="" alt="arrow" />
        </div>
      </div>
      <div>
        <img src="" alt="heart" />
        <div>
          <h3>Data Structures and Algorithms to Development</h3>
          <h4>Self Paced</h4>
          <h3>&#8377;1200.00</h3>
          <img src="" alt="arrow" />
        </div>
      </div>
      <div>
        <img src="" alt="heart" />
        <div>
          <h3>Data Structures and Algorithms to Development</h3>
          <h4>Self Paced</h4>
          <h3>&#8377;1200.00</h3>
          <img src="" alt="arrow" />
        </div>
      </div>
      <div>
        <img src="" alt="heart" />
        <div>
          <h3>Data Structures and Algorithms to Development</h3>
          <h4>Self Paced</h4>
          <h3>&#8377;1200.00</h3>
          <img src="" alt="arrow" />
        </div>
      </div>
    </section>
    <!-- footer -->
    <footer>
      <!-- upper container -->
      <div>
        <div>
          <img src="" alt="logo" />
          <h1>Join the Community!</h1>
        </div>
        <div>
          <h3>Subscribe to the Education to receive monthly tips, offers & more.</h3>
        </div>
      </div>
      <!-- end of upper container -->
      <!-- lower container -->
      <div>
        <div>
          <button>Instagram</button>
          <button>Twitter</button>
          <button>LinkedIn</button>
          <button>WhatsApp</button>
          <button>Pinterest</button>
        </div>
        <p>&copy;2024, All Rights Reserved.</p>
      </div>
      <!-- end of lower container -->
    </footer>
    <!-- end of footer -->
  </body>
</html>
